@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

// DataTables
@import "datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.css";



ul {
    li {
        border-radius: 10px;
        &:hover {
            background-color: #f1f4ff !important;
        }

        a {
            color: black !important;
            background-color: transparent !important;
        }
    }
}

// $font-primary: 'Poppins',Arial, sans-serif;
// $primary: #d7e4fe;


// body{
// 	font-family: $font-primary;
// 	line-height: 1.8;
// 	font-weight: normal;
// 	background: #fafafa;
// }

// ul li a {
//     color: rgb(77, 77, 77) !important;
//     text-decoration: none;
//     font-family: $font-primary;
//     font-weight: 600 !important;
// }
// ul li a:hover {
//     color: #0000005b !important;
// }

// //SIDEBAR
// .wrapper {
//   width: 100%;
// }

// #sidebar {
//   min-width: 270px;
//   max-width: 270px;
//   background: $primary;
//   color: #fff;
//   transition: all 0.3s;
//   position: relative;
//   .h6{
//   	color: $white;
//   }
//   &.active{
//   	margin-left: -270px;
//   }
//   ul.components{
//   	padding: 0;
//   }
//   ul{
//     li{
//     	font-size: 16px;
//     	>ul{
//     		margin-left: 10px;
//     		li{
//     			font-size: 14px;
//     		}
//     	}
//     	a{
//     		padding: 10px 0;
// 		    display: block;
// 		    color: rgba(255, 255, 255, 0.715);
// 		    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//     	}
//     	&.active{
//     		> a{
//     			background: transparent;
//     			color: $white;
//     		}
//     	}
//     }
//   }
//   @include media-breakpoint-down(md){
//     margin-left: -270px;
//     &.active {
//         margin-left: 0;
//     }
//   }

//   .custom-menu{
// 		display: inline-block;
// 		position: absolute;
// 		right: 0;
// 		margin-right: -20px;
// 		@include transition(.3s);
// 		.btn{
// 			width: 80px;
// 			height: 80px;
// 			border-radius: 50%;
// 			position: relative;
// 			i{
// 				margin-right: -60px;
// 				font-size: 14px;
// 			}
// 			&.btn-primary{
// 				background: transparent;
// 				border-color: transparent;
// 				&:after{
// 					z-index: -1;
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					right: 0;
// 					bottom: 0;
// 					content: '';
// 				  transform: rotate(45deg);
// 				  background: $primary;
// 				  border-radius: 10px;
// 				}
// 				&:hover, &:focus{
// 					background: transparent !important;
// 					border-color: transparent !important;
// 				}
// 			}
// 		}
//   }
// }


// a[data-toggle="collapse"] {
//     position: relative;
// }

// .dropdown-toggle::after {
//   display: block;
//   position: absolute;
//   top: 50%;
//   right: 0;
//   transform: translateY(-50%);
// }

// #sidebarCollapse{
// 	span{
// 		@include media-breakpoint-down(md){
// 	    display: none;
// 		}
// 	}
// }

// #content {
//   width: 100%;
//   padding: 0;
//   min-height: 100vh;
//   transition: all 0.3s;
// }


// .btn{
// 	&.btn-primary{
// 		background: $primary;
// 		border-color: $primary;
// 		&:hover, &:focus{
// 			background: $primary !important;
// 			border-color: $primary !important;
// 		}
// 	}
// }

